# ignore all
*
!**/
.history

# include
!.gitignore
!.vscode/settings.json
!.clang-format
!sandbox/*

!Makefile
!*.cpp
!*.hpp
!*.py
!*.sh
!*.pl

!Dockerfile
!.github/workflows/*
!requirements.in

!.coderabbit.yaml

!root/**
!*.conf

venv
