# ignore all
*
!**/
.history

# include
!.gitignore
!.vscode/settings.json
!.clang-format
!sandbox/*

!Makefile
!*.cpp
!*.hpp
!test/**

!Dockerfile
!docker-compose.yml

!.github/workflows/*
!requirements.txt

!.coderabbit.yaml

!html/**
