# ignore all
*
!**/
.history

# include
!.gitignore
!.vscode/settings.json
!.clang-format
!sandbox/*
!.github/workflows/*
!.coderabbit.yaml

!Makefile
!*.cpp
!*.hpp
!*.py
!test/nginx/**

!Dockerfile
!docker-compose.yml

!.github/workflows/*
!requirements.txt

!.coderabbit.yaml

!html/**
